The Movie Database API – 
- Objective: Use this API to analyze the top 5 movies, by genre, starring any of the top 10 paid actresses or the top 10 paid actors in the US.​

# Import Dependencies

In [50]:
#import Dependencies
import json 
import requests
import pandas as pd
import numpy as np
from pprint import pprint
import os
import collections
from azure.storage.blob import BlobServiceClient
from dotenv import load_dotenv

# THBD API Connection

In [51]:
# load api key variable
load_dotenv()

True

In [52]:
# Set Authentication

API_KEY = os.getenv("client_api_key")
base_url = "https://api.themoviedb.org/"
auth_url = "https://api.themoviedb.org/3/authentication"

headers = {	"accept":          "application/json", 
	         "Authorization": f'Bearer {API_KEY}'}
params = {'': ''}

In [53]:
# Endpoints

#Movie Lists Folder
top_rated_movie = '3/movie/top_rated'
page = 1
top_rated_movie_params = {'language': 'en-US', 'page': {page}, 'region': 'US'}

# Genre List
genre_list = '3/genre/movie/list'
genre_list_param = {'language' : 'en'}

# Actors
movie_id = 569094
actor_info = f'/3/movie/{movie_id}/credits'
actor_info_param = {'movie_id' : {movie_id}}

In [54]:
# Check Authentication & Response check
def response_check():
    try:
        response = requests.get(auth_url,headers=headers)
        response.raise_for_status()
        print(auth_url + ' {}'.format(response) )
    except requests.exceptions.HTTPError as err:
        raise SystemExit(err)
response_check()

https://api.themoviedb.org/3/authentication <Response [200]>

In [55]:
# Check Endpoint & Response check
def response_endpoint_check(end_point, headers, params):
    try:
        response = requests.get(base_url + end_point,headers=headers, params=params)
        response.raise_for_status()
        print(base_url + end_point + ' {}'.format(response) )
    except requests.exceptions.HTTPError as err:
        print("Http Error:",err)
    
response_endpoint_check(end_point=top_rated_movie,headers=headers, params=top_rated_movie_params)
response_endpoint_check(end_point=genre_list,headers=headers, params=genre_list_param)
response_endpoint_check(end_point=actor_info,headers=headers, params=actor_info_param)

https://api.themoviedb.org/3/movie/top_rated <Response [200]>
https://api.themoviedb.org/3/genre/movie/list <Response [200]>
https://api.themoviedb.org//3/movie/569094/credits <Response [200]>

# CSV Import

In [56]:
# Import the CSV file & Load to Dataframe

#Create relative path to the .csv file. 
file_path = os.path.join("Resources","top_paid_us_actors.csv") 
file = "top_paid_us_actors.csv"

# Read data into dataframe(df) and show top 10 All time paid US actors.  
top_paid_actor = pd.read_csv(file_path,encoding="utf8", sep=',')
top_ten_paid_actors = pd.DataFrame(top_paid_actor)
top_ten_paid_actors.head(10)

           full_name
0  Samuel L. Jackson
1  Robert Downey Jr.
2          Tom Hanks
3         Tom Cruise
4        Zoe Saldana
5        Chris Pratt
6    Chris Hemsworth
7     Bradley Cooper
8        Chris Evans
9      Harrison Ford